[run]
branch = True
source = pyvistaqt
omit =
    */setup.py
    */pyvistaqt/rwi.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
    @abstractclassmethod
