repos:
- repo: https://github.com/psf/black
  rev: 24.1.1
  hooks:
  - id: black
    args: [
      "--config=pyproject.toml"
    ]

- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
    args: [
      "--check",
      "--settings=.isort.cfg"
    ]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
    - id: mypy
      # `pass_filenames` is used to overcome the "duplicate module"
      # error from occuring. We are explicitly passing a 'txt'
      # file to search. This setting tells `pre-commit` to not do a
      # search and pass files to check to mypy, like it normally does.
      #
      # See:
      #   - https://github.com/python/mypy/issues/4008#issuecomment-708060733
      #   - https://pre-commit.com/#hooks-pass_filenames
      pass_filenames: false
      args: [
        "--config-file",
        "mypy.ini",
        "@mypy_checklist.txt"
      ]

- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    additional_dependencies: [
      "flake8-black==0.3.6",
      "flake8-isort==6.1.1",
      "flake8-quotes==3.3.2",
    ]
    args: [
      "--config=.flake8"
    ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    args: [
      "docs examples examples_flask pyvista tests",
      "*.py *.rst *.md",
    ]

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml==0.10.2]
    # We use the 'match' and do not want pre-commit to pass
    # globbed files
    pass_filenames: false
    args: [
      "--config=pyproject.toml",
    ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: no-commit-to-branch
    args: [--branch, main]

# this validates our github workflow files
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.3
  hooks:
    - id: check-github-workflows

- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Specify rc file
        ]
    - id: pycodestyle
      name: pycodestyle
      entry: pycodestyle
      language: system
      types: [python]
      args:
        [
          "--config=./\\.pycodestyle",
        ]

ci:
    skip: [pylint, pycodestyle]
