black
codecov
codespell
flake8
ipython
isort
mypy
numpy
pycodestyle
pydocstyle
pylint
pyqt5
pyqt6
pyside2
pyside6
pytest
pytest-cov
pytest-memprof
pytest-qt
pyvista>=0.32.0
qtpy>=1.9.0
scooby>=0.5.1
vtk