black==23.3.0
codespell==2.2.5
flake8==6.0.0
ipython==8.14.0
isort==5.12.0
mypy==1.4.0
numpy==1.25.0
pycodestyle==2.10.0
pydocstyle==6.3.0
pylint==2.17.4
pytest==7.3.2
pytest-cov==4.1.0
pytest-memprof==0.2.0
pytest-qt==4.2.0
pyvista==0.39.1
QtPy==2.3.1
scooby==0.7.2
flake8-black==0.3.6
flake8-isort==6.0.0
flake8-quotes==3.3.2
check-jsonschema==0.23.2
pre-commit==3.3.3
pre-commit-hooks==4.4.0
toml==0.10.2
sphinx_gallery==0.13.0
nest_asyncio==1.5.6
trame==2.5.0
trame-client==2.9.4
trame-server==2.11.4
trame-vtk==2.5.4
