cmocean==4.0.3
colorcet==3.1.0
imageio==2.34.2
imageio-ffmpeg==0.5.1
lxml==5.2.2
matplotlib==3.9.1
meshio==5.3.5
pytest-sphinx==0.6.3
QtPy==2.4.1
Sphinx==8.0.2
sphinx-autobuild==2024.4.16
sphinx-copybutton==0.5.2
sphinx-notfound-page==1.0.4
pydata-sphinx-theme==0.15.3
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==2.0.0
toml==0.10.2
