ipython==8.27.0
numpy==2.1.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-memprof==0.2.0
pytest-qt==4.4.0
pyvista==0.45.2
QtPy==2.4.3
scooby==0.10.1
toml==0.10.2
sphinx_gallery==0.19.0
nest_asyncio==1.6.0
trame==3.10.2
trame-client==3.9.1
trame-server==3.4.2
trame-vtk==2.9.0
