cmocean
colorcet
imageio-ffmpeg
imageio>=2.5.0
lxml
matplotlib
meshio>=4.0.3, <5.0
pytest-sphinx
qtpy
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-notfound-page>=0.3.0
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
