cmocean==2.0
colorcet==3.0.1
imageio==2.25.0
imageio-ffmpeg==0.4.8
lxml==4.9.2
matplotlib==3.6.3
meshio==5.3.4
pytest-sphinx==0.5.0
QtPy==2.3.0
Sphinx==5.1.1
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.1
sphinx-notfound-page==0.8.3
sphinx-rtd-theme==1.1.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.2.4
toml==0.10.2