name: 'CI'
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: "0 4 * * *"

jobs:
  pip:
    name: ${{ matrix.os }} / pip / ${{ matrix.qt }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        pyvista: ['0.29.0', '0.30.0', 'master']
        qt: ['PySide2']
    defaults:
      run:
        shell: bash
    env:
      ALLOW_PLOTTING: 'true'
      DISPLAY: ':99'
      CONDA_ENV: 'environment.yml'
      PYTHON_VERSION: '3.8'
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo apt-get install -y libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset;
        name: 'Setup xvfb'
        if: matrix.os == 'ubuntu-latest'
      - run: |
          git clone --depth 1 git://github.com/pyvista/gl-ci-helpers.git
          ./gl-ci-helpers/appveyor/install_opengl.ps1
        shell: pwsh
        name: 'Setup opengl'
        if: matrix.os == 'windows-latest'
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
        name: 'Setup python'
      - run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements_test.txt
        name: 'Install dependencies with pip'
      - run: pip install ${{ matrix.qt }}
        name: 'Install Qt binding'
      - run: pip install --progress-bar off https://github.com/pyvista/pyvista/zipball/${{ matrix.pyvista }}
        name: 'Install PyVista'
      - run: |
          pip install -e .
          python -c "import pyvista; print(pyvista.Report())"
        name: 'Install pyvistaqt'
      - run: pytest -v --cov pyvistaqt --cov-report html
        name: 'Run Tests'
      - uses: codecov/codecov-action@v1
        if: success()
        name: 'Upload coverage to CodeCov'

  conda:
    name: ${{ matrix.os }} / conda / ${{ matrix.qt }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        qt: ['PySide2']
    defaults:
      run:
        shell: bash
    env:
      ALLOW_PLOTTING: 'true'
      DISPLAY: ':99'
      CONDA_ENV: 'environment.yml'
      PYTHON_VERSION: '3.8'
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo apt-get install -y libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset;
        name: 'Setup xvfb'
        if: matrix.os == 'ubuntu-latest'
      - run: |
          git clone --depth 1 git://github.com/pyvista/gl-ci-helpers.git
          ./gl-ci-helpers/appveyor/install_opengl.ps1
        shell: pwsh
        name: 'Setup opengl'
        if: matrix.os == 'windows-latest'
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: 'pyvistaqt-env'
          python-version: ${{ env.PYTHON_VERSION }}
          environment-file: ${{ env.CONDA_ENV }}
        name: 'Setup conda'
      - shell: bash -el {0}
        run: pip install ${{ matrix.qt }}
        name: 'Install Qt binding'
      - shell: bash -el {0}
        run: |
          pip install -e .
          python -c "import pyvista; print(pyvista.Report())"
        name: 'Install pyvistaqt'
      - shell: bash -el {0}
        run: pytest -v --cov pyvistaqt --cov-report html
        name: 'Run Tests'
      - uses: codecov/codecov-action@v1
        if: success()
        name: 'Upload coverage to CodeCov'
