# This workflow will run lint
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: Python package
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Python Code Quality and Lint
      uses: ricardochaves/python-lint@v1.4.0
      with:
        python-root-list: pyvistaqt
        use-pylint: true
        use-pycodestyle: true
        use-flake8: true
        use-black: true
        use-mypy: true
        use-isort: true
        extra-pylint-options: --disable=F0401 --ignore=rwi.py
        extra-pycodestyle-options: --ignore=E501,E203,W503 --exclude=rwi.py
        extra-flake8-options: --ignore=E501,E203,W503 --exclude=rwi.py
        extra-black-options: --exclude=rwi.py
        extra-mypy-options: --exclude '/rwi\.py$'
        extra-isort-options: --skip rwi.py
